{% extends "shopping/layout.html" %}
{% load static %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block style %}
    <link href="{% static 'shopping/cart/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'shopping/cart/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="">
        <div class="row p-3">
            <h4>Shopping Cart</h4>
        </div>

        <div class="container" style="min-height: 800px;">
            <div class="row bg-light p-2" style="width: 100%;">
                <div class="col-6 p-3 my-auto">
                    <div class="" style="text-align: left;">
                        <p style="margin-left: 2rem;" class="nav-bar-headers">Product</p>
                    </div>
                </div>
                <div class="col-2 p-3" style="text-align: center;">
                    <p style="padding-left: 0;" class="nav-bar-headers">Quantity</p>
                </div>
                <div class="col-2 p-3" style="text-align: center;">
                    <p style="" class="nav-bar-headers">Unit Price</p>
                </div>
                <div class="col-2 p-3" style="text-align: center;">
                    <p style="" class="nav-bar-headers">Actions</p>
                </div>
            </div>
            {% if hasOrderInCart %}
                {% for order in orders %}
                    <div class="row m-3">
                        <div class="col-3 p-3 listing-image-section" style="text-align: left; justify-content: center;">
                            {% if order.listing.images is None %}
                                <img style="height: auto; width: 100%;" class="listing-images" src="{% static 'shopping/categories/listing_placeholder.jpg' %}" alt="listing-placeholder-image">
                            {% else %}
                                <img style="height: auto; width: 100%;" class="listing-images" src="{% static order.listing.listing_main_pic.url %}" alt="listing-image">
                            {% endif %}
                        </div>
                        <div class="col-3 p-3 cart-item-details" style="">
                            <a href="{% url 'listing' order.listing.id %}">{{ order.listing.title }}</a>
                            <p style="color: grey;">Category: <strong>{{ order.listing.category }}</strong></p>
                            <p style="margin-bottom: 4px;"><strong>Product Description:</strong></p>
                            <p class="listing-desrc" style="color: grey;">{{ order.listing.desrc }}</p>
                            <div class="row">
                                <div class="col-6 cart-item-details" style="text-align: left;">
                                    <p>Quantity left: <strong>{{ order.listing.quantity }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-3 my-auto cart-item-details" style="text-align: center;">
                            <span>
                                <!-- Input quantity -->
                                <div class="container-fluid" style="justify-content: left;">
                                    <div class="row">
                                        <div class="col-xs-4" style="display: inline; text-align: center;">
                                            <button id="minus-btn-{{ order.id }}" class="minus-btn" type="button" name="minus-btn">-</button>
                                        </div>
                                        <div class="col-xs-4" style="display: inline; max-width: 50px;">
                                            <input class="quantity-count" id="quantity-count-{{ order.id }}" readonly data-quantity="{{ order.listing.quantity }}" style="max-width: 50px; text-align: center;" type="text" name="quantity_count" value="{{ order.quantity_demanded }}">
                                        </div>
                                        <div class="col-xs-4" style="display: inline;">
                                            <button id="plus-btn-{{ order.id }}" class="plus-btn" type="button" name="plus-btn">+</button>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="col-2 p-3 my-auto cart-item-details" style="vertical-align: middle; text-align: center;">
                            <p class="order-price pt-3" id="order-price-{{ order.id }}">${{ order.listing.price }}</p>
                        </div>
                        <div class="col-2 p-3 my-auto cart-item-details" style="text-align: center;">
                            <form class="" action="{% url 'updatecart' %}" method="post">
                                {% csrf_token %}
                                <input type="text" style="display: none;" name="order-to-remove" value="{{ order.id }}">
                                <button type="submit" class="delete-btn" id="delete-btn" name="button">Delete</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <div class="row justify-content-center">
                    <nav aria-label="Orders pagination">
                        <ul class="pagination justify-content-center">
                            {% if orders.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" style="color: #42f5c2;" href="?order-page=1">&laquo; first</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" style="color: #42f5c2;" href="?order-page={{ orders.previous_page_number }}">previous</a>
                                </li>
                            {% endif %}

                            {% if orders.number != 1 %}
                                <span class="current">
                                    <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                        Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                                    </p>
                                </span>
                            {% endif %}

                            {% if orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" style="color: #42f5c2;" href="?order-page={{ orders.next_page_number }}">next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" style="color: #42f5c2;" href="?order-page={{ orders.paginator.num_pages }}">last &raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% else %}
                <div class="container-fluid" style="min-height: 500px; text-align: center;">
                    <img src="{% static 'images/shopping_bag.jpg' %}" alt="shopping-bag-icon">
                    <p>Your shopping cart is empty</p>
                    <form class="" action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="" id="shop-now-btn" value="Shop Now">
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row bg-light m-3 p-2" style="text-align: right;">
                <div class="col-9 p-3">
                    <h5>Total Price:</h5>
                    {% if hasOrderInCart %}
                        <h2 id="total-price">${{ total_order_price }}</h2>
                    {% else %}
                        <h2>$0.00</h2>
                    {% endif %}
                </div>
                <div class="col-3 p-3" style="text-align: center;">
                    <form class="" action="{% url 'checkout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="checkout-btn" id="checkout-btn" value="Check Out" style="">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
