{% extends "shopping/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'shopping/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static 'shopping/index/index.js' %}"></script>
{% endblock %}

{% block categories %}
    <div class="container-fluid" style="">
        <div class="row">
            <p style="margin-left: 15px; color: grey;">CATEGORIES:</p>
        </div>

        <div class="row m-2 flex-wrap" style="">
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'menswear' %}" class="category-border">
                    <img src="{% static 'shopping/categories/menwear.jpg' %}" alt="Men's Wear">
                    <p>Men's Wear</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'mobile' %}">
                    <img src="{% static 'shopping/categories/mobile.jpeg' %}" alt="Mobile & Gadgets">
                    <p>Mobile & Gadgets</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'homeappliance' %}">
                    <img src="{% static 'shopping/categories/homeappliances.jpeg' %}" alt="Home Appliances">
                    <p>Home Appliances</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'kidsfashion' %}">
                    <img src="{% static 'shopping/categories/kidsfashion.jpg' %}" alt="Kids Fashion">
                    <p>Kids Fashion</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'games' %}">
                    <img src="{% static 'shopping/categories/videogames.webp' %}" alt="Video Games">
                    <p>Video Games</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'computer' %}">
                    <img src="{% static 'shopping/categories/computer.jpeg' %}" alt="Computer & Peripherals">
                    <p>Computer & Peripherals</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'health' %}">
                    <img src="{% static 'shopping/categories/health.jpeg' %}" alt="Health & Wellness">
                    <p>Health & Wellness</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'travel' %}">
                    <img src="{% static 'shopping/categories/travel.jpg' %}" alt="Travel & Luggage">
                    <p>Travel & Luggage</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'watches' %}">
                    <img src="{% static 'shopping/categories/watches.webp' %}" alt="Watches">
                    <p>Watches</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'menshoes' %}">
                    <img src="{% static 'shopping/categories/menshoes.jpeg' %}" alt="Men's Shoes">
                    <p>Men's Shoes</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'womenapparel' %}">
                    <img src="{% static 'shopping/categories/womenapparel.jpeg' %}" alt="Women's Apparel">
                    <p>Women's Apparel</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'beauty' %}">
                    <img src="{% static 'shopping/categories/beauty.jpeg' %}" alt="Beauty & Personal Care">
                    <p>Beauty & Personal Care</p>
                </a>
            </div>
        </div>

        <div class="w-100 d-none d-md-block"></div>

        <div class="row m-2 flex-wrap" style="">
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'homeliving' %}">
                    <img src="{% static 'shopping/categories/homeliving.jpeg' %}" alt="Home & Living">
                    <p>Home & Living</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'toyskids' %}">
                    <img src="{% static 'shopping/categories/toys.webp' %}" alt="Toys, Kids & Babies">
                    <p>Toys, Kids & Babies</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'food' %}">
                    <img src="{% static 'shopping/categories/food.jpeg' %}" alt="Food & Beverages">
                    <p>Food & Beverages</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'hobbies' %}">
                    <img src="{% static 'shopping/categories/hobbies.jpg' %}" alt="Hobbies & Books">
                    <p>Hobbies & Books</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'womensbags' %}">
                    <img src="{% static 'shopping/categories/womenbag.jpeg' %}" alt="Women's Bags">
                    <p>Women's Bags</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'pet' %}">
                    <img src="{% static 'shopping/categories/petfood.jpeg' %}" alt="Pet Food & Supplies">
                    <p>Pet Food & Supplies</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'jewel' %}">
                    <img src="{% static 'shopping/categories/jewellery.jpg' %}" alt="Jewellery & Accessories">
                    <p>Jewellery & Accessories</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'womenshoes' %}">
                    <img src="{% static 'shopping/categories/womenshoes.jpeg' %}" alt="Women's Shoes">
                    <p>Women's Shoes</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'sport' %}">
                    <img src="{% static 'shopping/categories/sport.jpg' %}" alt="Sports & Outdoors">
                    <p>Sports & Outdoors</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'menbags' %}">
                    <img src="{% static 'shopping/categories/menbag.jpeg' %}" alt="Men's Bags">
                    <p>Men's Bags</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'dining' %}">
                    <img src="{% static 'shopping/categories/dining.jpeg' %}" alt="Dining, Travel & Services">
                    <p>Dining, Travel & Services</p>
                </a>
            </div>
            <div class="col-1 pt-3 indv-cat-border">
                <a href="{% url 'category' 'misc' %}">
                    <img src="{% static 'shopping/categories/misc.jpeg' %}" alt="Misc">
                    <p>Misc</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block trending %}
    <p style="margin-left: 15px; color: grey;">TRENDING SEARCHES:</p>
    <div class="row m-4" style="justify-content: left;">
        {% for listing in trending_searches_page_obj %}
            <div class="col-2 m-1 indv-listing-border" style="max-height: 300px; min-height: 300px; width: 100%; min-width: 186px; max-width: 198px;">
                <a href="{% url 'listing' listing.id %}" style="text-docoration: none;">
                    <div class="row">
                        <img class="all_listing_img" src="{% static listing.listing_main_pic.url %}" alt="listing_main_pic">
                    </div>
                    <div class="row p-3" style="max-width: 170px;">
                        <div class="listing-title" style="color: black; min-width: 145px;">{{ listing.title }}</div>
                        <div id="trending-{{ listing.id }}-rating-stars" class="listing-rating-star-section" data-ratingscore={{ listing.rating_score }} data-listingid={{ listing.id }}></div>
                        <div style="position: absolute; bottom: 10px;">
                            <span style="color: lightgrey">From: </span>
                            <strong style="color: #42f5c2">${{ listing.price }}</strong>
                            {% if listing.quantity == 0 %}
                                <span class="sold-out-tag">Sold out</span>
                            {% endif %}
                        </div><br>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <nav aria-label="trending searches navigation">
            <ul class="pagination justify-content-center">
                {% if trending_searches_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?trending-searches-listing-page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?trending-searches-listing-page={{ trending_searches_page_obj.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% if trending_searches_page_obj.number != 1%}
                    <span class="current">
                        <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                            Page {{ trending_searches_page_obj.number }} of {{ trending_searches_page_obj.paginator.num_pages }}.
                        </p>
                    </span>
                {% endif %}

                {% if trending_searches_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?trending-searches-listing-page={{ trending_searches_page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?trending-searches-listing-page={{ trending_searches_page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block top_products %}
    <p style="margin-left: 15px; color: grey;">TOP PRODUCTS:</p>
    <div class="row m-4" style="justify-content: left;">
        {% for listing in top_products_page_obj %}
            <div class="col-2 m-1 indv-listing-border" style="max-height: 300px; min-height: 300px; width: 100%; min-width: 186px; max-width: 198px;">
                <a href="{% url 'listing' listing.id %}" style="text-docoration: none;">
                    <div class="row">
                        <img class="all_listing_img" src="{% static listing.listing_main_pic.url %}" alt="listing_main_pic">
                    </div>
                    <div class="row p-3" style="max-width: 170px;">
                        <div class="listing-title" style="color: black; min-width: 145px;">{{ listing.title }}</div>
                        <div id="topproducts-{{ listing.id }}-rating-stars" class="listing-rating-star-section" data-ratingscore={{ listing.rating_score }} data-listingid={{ listing.id }}></div>
                        <div style="position: absolute; bottom: 10px;">
                            <span style="color: lightgrey">From: </span>
                            <strong style="color: #42f5c2">${{ listing.price }}</strong>
                            {% if listing.quantity == 0 %}
                                <span class="sold-out-tag">Sold out</span>
                            {% endif %}
                        </div><br>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <nav aria-label="Top products navigation">
            <ul class="pagination justify-content-center">
                {% if top_products_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?top-product-listing-page=1" style="color: #42f5c2">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?top-product-listing-page={{ top_products_page_obj.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% if top_products_page_obj.number != 1%}
                    <span class="current">
                        <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                            Page {{ top_products_page_obj.number }} of {{ top_products_page_obj.paginator.num_pages }}.
                        </p>
                    </span>
                {% endif %}

                {% if top_products_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?top-product-listing-page={{ top_products_page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?top-product-listing-page={{ top_products_page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}

{% block all_products %}
    <p style="margin-left: 15px; color: grey;">ALL PRODUCTS:</p>

    <div id="all-listing-grid-counter" style="display: none;">1</div>
    <div class="row m-4 justify-content-center" style="justify-content: left;">
        {% for listing in all_listing_page_obj %}
            <div class="col-2 m-1 indv-listing-border" style="max-height: 300px; min-height: 300px; width: 100%; min-width: 186px; max-width: 198px;">
                <a href="{% url 'listing' listing.id %}" style="text-docoration: none;">
                    <div class="row">
                        <img class="all_listing_img" src="{% static listing.listing_main_pic.url %}" alt="listing_main_pic">
                    </div>
                    <div class="row p-3" style="max-width: 170px;">
                        <div class="listing-title" style="color: black; min-width: 145px;">{{ listing.title }}</div>
                        <div id="allproducts-{{ listing.id }}-rating-stars" class="listing-rating-star-section" data-ratingscore={{ listing.rating_score }} data-listingid={{ listing.id }}></div>
                        <div style="position: absolute; bottom: 10px;">
                            <span style="color: lightgrey">From: </span>
                            <strong style="color: #42f5c2">${{ listing.price }}</strong>
                            {% if listing.quantity == 0 %}
                                <span class="sold-out-tag">Sold out</span>
                            {% endif %}
                        </div><br>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <nav aria-label="All products navigation">
            <ul class="pagination justify-content-center">
                {% if all_listing_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?all-listing-page=1" style="color: #42f5c2">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?all-listing-page={{ all_listing_page_obj.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% if all_listing_page_obj.number != 1 %}
                    <span class="current">
                        <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                            Page {{ all_listing_page_obj.number }} of {{ all_listing_page_obj.paginator.num_pages }}.
                        </p>
                    </span>
                {% endif %}

                {% if all_listing_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?all-listing-page={{ all_listing_page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" style="color: #42f5c2" href="?all-listing-page={{ all_listing_page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block line_divider %}
    <div class="line-divider">
        <p>c</p>
    </div>
{% endblock %}

{% block shopping_descr %}
    <div class="shopping-descr p-4">
        <h6>Shopping Singapore - Asia's leading online shopping platform</h6>
        <p>
            Shopping Singapore is the leading online shopping platform in Southeast Asia, based in Singapore, extending to other countries like Malaysia, Thailand, Indonesia, Vietnam, Philippines and Taiwan.
            Shop anytime, anywhere using our strong payment and logistical support.
            Shopping provides all users with a safe and secure online shopping environment. But that’s not all!

            Hassle no more! Experience easy purchase and get the items you ordered seamlessly with our payment method.

            Shopping is free for all! Join our community and start shopping online today.
        </p>

        <h6>Get everything here in Shopping!</h6>
        <p>
            Shopping provides a huge range of products that you can ever think of! With our 14 Day Free Return policy, you can now
            purchase with an ease in mind and be assured quality products from our premium sellers, such as Nestle, Logitech and Uniqlo.

            Begin by browsing from our CATEGORIES section, or simply just browsing through our ALL PRODUCTS!
        </p>

        <h6>Save more in Shopping!</h6>
        <p>
            Shopping ensures that you always get the best deals!

            Look out for specific day of the month such as 1.1 New Year Sale, 2.2 Feb Sale and 12.12 End of Year Sale!

            Keep your eyes peered for our news on sales events and mark them down!
        </p>
    </div>

{% endblock %}
