{% extends "shopping/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'shopping/profile/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'shopping/profile/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="width: 70%;">
        <!-- Top nav bar -->
        <div class="top-nav-bar sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42f5c2; color: white;">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Sell on Shopping</a>
                        <a class="nav-item nav-link" href="#">Customer Care</a>
                        <a class="nav-item nav-link" href="#">Track My Order</a>
                    </div>
                    <div class="navbar-nav ml-auto p-2">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile' user.username %}">{{ user.username }}</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
            </div>
        </div>

        <!-- Search bar div -->
        <div class="container-fluid sticky-top" style="background-color: #42f5c2;">
            <div class="row">
                <div class="col-3" style="font-size: 2rem; text-align: center; color: white;">
                    <a class="home-logo" href="{% url 'index' %}">
                        <i class="fa fa-shopping-bag"></i>
                        <p>Shopping</p>
                    </a>
                </div>
                <div class="col-7 mt-4 form-group">
                    <form class="form-inline" action="index.html" method="post">
                        <input type="text" name="" value="" placeholder="Search here!" style="width: 85%;" class="form-control">
                        <button type="submit" name="button" class="btn btn-warning">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-2 mt-3">
                    <a class="cart-logo" href="#" style="font-size: 2rem; color: white;">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Profile section -->
        <div class="container-fluid" style="margin-top: 15px;">
            <div class="row">
                <div class="col-4">
                    <div class="row mt-2" style="justify-content: center;">
                        <div class="image-border">
                            {% if profile.profile_pic.url is not None %}
                                <img class="profile-pic" src="{% static profile.profile_pic.url %}" alt="user-profile-pic">
                            {% else %}
                                <img class="profile-pic" src="{% static 'images/placeholder.png' %}" alt="placeholder-profile-pic">
                            {% endif %}
                            <span style="margin-left: 5px;">{{ user.username }}
                                <button id="edit-profile-btn">
                                    <i class="fa fa-edit"></i>
                                    Edit profile
                                </button>
                            </span>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-4 ml-1 mb-4">
                        <button id="my-account-btn" class="user-profile-links">
                            <i class="fa fa-user-circle" style="font-size: 16px; width: 30px; color: #42f5c2;"></i>
                            <span class="user-links">My Account Info</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="my-purchase-btn" class="user-profile-links" id="my-purchase">
                            <i class="fa fa-shopping-cart" style="font-size: 15px; width: 30px; color: #03f0fc;"></i>
                            <span class="user-links">My Purchase</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="my-shop-btn" class="user-profile-links">
                            <i class="fa fa-store" style="font-size: 15px; width: 30px; color: red; background-color: red;"></i>
                            <span class="user-links">My Shop</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="notif-btn" class="user-profile-links">
                            <i class="fa fa-bell" style="font-size: 16px; width: 30px; color: orange;"></i>
                            <span class="user-links">Notifications</span>
                        </button>
                    </div>

                    <hr>

                    <!-- Add profile picture section -->
                    <div class="row mt-4 ml-1 mb-4" style="justify-content: center;">
                        <img id="output" style="height: 100px; width: 100px; border-radius: 50px;" src="https://user-images.githubusercontent.com/59989652/88834961-2aa0b280-d207-11ea-9e3d-24c488a75569.jpg" alt="Profile Picture">
                    </div>
                    <div class="row mt-4 ml-1 mb-4" style="justify-content: center; text-align: center;">
                        <form class="custom-file" id="profile-pic-form" action="{% url 'update_profile_pic' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="" style="text-align: center; justify-content: center;">
                                <input id="file-upload" class="custom-file-input" type="file" name="myfile" accept=".jpg,.jpeg,.png" onchange="loadFile(event)">
                                <input style="display: none;" type="submit" id="profile-pic-btn" class="profile-pic-btn" value="Save">
                                <label id="image-file-label" class="custom-file-label" for="file-upload">Image extensions: .JPEG .PNG</label>
                            </div>

                        </form>
                    </div>
                    <div class="row mt-4 ml-1 mb-4 mt-4" style="justify-content: center;">
                        <p style="color: grey;"></p>
                    </div>
                </div>
                <div id="user-profile-content" class="col-8 mt-3 mb-3">
                    <div id="my-account">
                        <h4>My Account Information</h4>

                        <div class="container-fluid bg-light mt-4 pt-5 pl-5 pb-5">
                            <div class="row">
                                <p class="account-tags">Username:</p>
                                <span id="span-username">{{ user.username }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Name:</p>
                                <span id="span-full-name">{{ profile.full_name }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Email:</p>
                                <span id="span-email">{{ user.email }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Gender:</p>
                                <span id="span-gender">{{ profile.gender }} </span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Phone Number:</p>
                                <span id="span-phone-number">{{ hexed_phone_number }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Date of Birth:</p>
                                <span id="span-date-of-birth">{{ profile.date_of_birth }}</span>
                            </div>
                        </div>
                    </div>

                    <div id="my-shop">
                        <h4>My Shop</h4>
                        {% if hasListings %}
                        {% else %}
                            <p>You have no item on the market currently.</p>
                        {% endif %}
                    </div>

                    <div id="my-purchase">
                        <h4>My Purchase</h4>
                        {% if hasPurchases %}
                        {% else %}
                            <p>You have no purchases currently.</p>
                        {% endif %}
                    </div>

                    <div id="notif">
                        <h4>Notifications</h4>
                        {% if hasNotif %}
                        {% else %}
                            <p>You have no notifications currently.</p>
                        {% endif %}
                    </div>

                    <!-- Edit form -->
                    <div id="edit">
                        <h4>Edit Your Profile</h4>
                        <div class="container-fluid bg-light mt-4">
                            <form id="edit-profile-form" class="" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group row pt-3 pb-3">
                                    <label for="id_username" class="col-sm-2 col-form-label">Username:</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="id_username" value="{{ user.username }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_email" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_phone_number" class="col-sm-2 col-form-label">Phone Number:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_phone_number" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_gender" class="col-sm-2 col-form-label">Gender:</label>
                                    <div class="col-sm-10">
                                        <select id="id_gender" class="form-control" name="gender" required>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_date_of_birth" class="col-sm-2 col-form-label">Date of Birth:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_date_of_birth" placeholder="YYYY-MM-DD" value="">
                                    </div>
                                </div>

                                <div class="" style="text-align: right;">
                                    <input id="save-btn" data="{{ profile.id }}" class="btn" type="submit" name="" value="Save">
                                    <input id="undo-btn" data="{{ profile.id }}" class="btn" type="button" name="" value="Undo">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="line-divider">
            <p>c</p>
        </div>

        <!-- Bottom footer -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Shopping Country & Region:</p>
                    <div class="country-icons">
                        <div class="d-flex p-2">
                            <img style="margin-left: 15px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333299-3b1e9e80-dff7-11ea-8de5-2d988eae2df1.jpg" alt="singapore-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333392-f34c4700-dff7-11ea-9aac-0dded940d1af.png" alt="malaysia-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333394-f47d7400-dff7-11ea-8e5d-7dee9ccee504.png" alt="indonesia-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333395-f5aea100-dff7-11ea-8fc5-5e88bf8ff034.png" alt="taiwan-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333396-f6dfce00-dff7-11ea-9957-912621de1477.png" alt="thailand-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333398-f810fb00-dff7-11ea-96a0-e188ffb3578d.png" alt="vietnam-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333399-fa735500-dff7-11ea-92ce-2c7503094272.png" alt="philipphines-icon">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Payment</p>
                    <div class="">
                        <i class="fa fa-cc-visa" style="margin-left: 15px; font-size: 40px;"></i>
                        <i class="fa fa-cc-mastercard" style="margin-left: 15px; font-size: 40px;"></i>
                        <i class="fa fa-cc-amex" style="margin-left: 15px; font-size: 40px;"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Follow Us On:</p>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: #3b5998">
                                <i class="fa fa-facebook-square"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">Facebook</span>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: brown;">
                                <i class="fa fa-instagram"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">Instagram</span>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: #0072b1">
                                <i class="fa fa-linkedin-square"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">LinkedIn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
