{% extends "shopping/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'shopping/profile/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'shopping/profile/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="width: 70%;">
        <!-- Top nav bar -->
        <div class="top-nav-bar sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42f5c2; color: white;">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Sell on Shopping</a>
                        <a class="nav-item nav-link" href="#">Customer Care</a>
                        <a class="nav-item nav-link" href="{% url 'trackorder' %}">Track My Order</a>
                    </div>
                    <div class="navbar-nav ml-auto p-2">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile' user.username %}">{{ user.username }}</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
            </div>
        </div>

        <!-- Search bar div -->
        <div class="container-fluid sticky-top" style="background-color: #42f5c2;">
            <div class="row">
                <div class="col-3" style="font-size: 2rem; text-align: center; color: white;">
                    <a class="home-logo" href="{% url 'index' %}">
                        <i class="fa fa-shopping-bag"></i>
                        <p>Shopping</p>
                    </a>
                </div>
                <div class="col-7 mt-4 form-group">
                    <form class="form-inline" action="index.html" method="post">
                        <input type="text" name="" value="" placeholder="Search here!" style="width: 85%;" class="form-control">
                        <button type="submit" name="button" class="btn btn-warning">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-2 mt-3">
                    <a class="cart-logo" href="{% url 'cart' %}" style="font-size: 2rem; color: white;">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Profile section -->
        <div class="container-fluid" style="margin-top: 15px;">
            <div class="row">
                <div class="col-4">
                    <div class="row mt-2" style="justify-content: center;">
                        <div class="image-border">
                            {% if profile.profile_pic.url is not None %}
                                <img class="profile-pic" src="{% static profile.profile_pic.url %}" alt="user-profile-pic">
                            {% else %}
                                <img class="profile-pic" src="{% static 'images/placeholder.png' %}" alt="placeholder-profile-pic">
                            {% endif %}
                            <span style="margin-left: 5px;">{{ user.username }}
                                <button id="edit-profile-btn">
                                    <i class="fa fa-edit"></i>
                                    Edit profile
                                </button>
                            </span>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-4 ml-1 mb-4">
                        <button id="my-account-btn" class="user-profile-links">
                            <i class="fa fa-user-circle" style="font-size: 16px; width: 30px; color: #42f5c2;"></i>
                            <span class="user-links">My Account Info</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="my-purchase-btn" class="user-profile-links" id="my-purchase">
                            <i class="fa fa-shopping-cart" style="font-size: 15px; width: 30px; color: lightblue;"></i>
                            <span class="user-links">My Purchase</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="my-shop-btn" class="user-profile-links">
                            <i class="fa fa-shopping-bag" style="font-size: 15px; width: 30px; color: red;"></i>
                            <span class="user-links">My Shop</span>
                        </button>
                        <div class="w-100 d-none d-md-block"></div>
                        <button id="notif-btn" class="user-profile-links">
                            <i class="fa fa-bell" style="font-size: 16px; width: 30px; color: orange;"></i>
                            <span class="user-links">Notifications</span>
                        </button>
                    </div>

                    <hr>

                    <!-- Add profile picture section -->
                    <div class="row mt-4 ml-1 mb-4" style="justify-content: center;">
                        <img id="output" style="height: 100px; width: 100px; border-radius: 50px;" src="https://user-images.githubusercontent.com/59989652/88834961-2aa0b280-d207-11ea-9e3d-24c488a75569.jpg" alt="Profile Picture">
                    </div>
                    <div class="row mt-4 ml-1 mb-4" style="justify-content: center; text-align: center;">
                        <form class="custom-file" id="profile-pic-form" action="{% url 'update_profile_pic' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="" style="text-align: center; justify-content: center;">
                                <input id="file-upload" class="custom-file-input" type="file" name="myfile" accept=".jpg,.jpeg,.png" onchange="loadFile(event)">
                                <input style="display: none;" type="submit" id="profile-pic-btn" class="profile-pic-btn" value="Save">
                                <label id="image-file-label" class="custom-file-label" for="file-upload">Image extensions: .JPEG .PNG</label>
                            </div>
                        </form>
                    </div>
                    <div class="row mt-4 ml-1 mb-4 mt-4" style="justify-content: center;">
                        <p style="color: grey;"></p>
                    </div>
                </div>
                <div id="user-profile-content" class="col-8 mt-3 mb-3">
                    <div id="my-account">
                        <h4>My Account Information</h4>

                        <div class="container-fluid bg-light mt-4 pt-5 pl-5 pb-5">
                            <div class="row">
                                <p class="account-tags">Username:</p>
                                <span id="span-username">{{ user.username }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Name:</p>
                                <span id="span-full-name">{{ profile.full_name }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Email:</p>
                                <span id="span-email">{{ user.email }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Gender:</p>
                                <span id="span-gender">{{ profile.gender }} </span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Phone Number:</p>
                                <span id="span-phone-number">{{ hexed_phone_number }}</span>
                            </div>
                            <div class="row">
                                <p class="account-tags">Date of Birth:</p>
                                <span id="span-date-of-birth">{{ profile.date_of_birth }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- My Shop -->
                    <div id="my-shop">
                        <div class="row">
                            <div class="col-6">
                                <h4>My Shop</h4>
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn" id="add-listing-btn" type="button" name="button" data-toggle="modal" data-target="#listingModal">Add New Listing</button>
                                <!-- Create Listing Modal -->
                                <div class="modal fade" id="listingModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Create New Listing</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="add-listing-form" class="" action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group row pt-3 pb-3">
                                                        <label for="id_title" class="col-sm-2 col-form-label">Title:</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="id_title" name="title" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_description" class="col-sm-2 col-form-label">Description:</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" required class="form-control" id="id_description" name="desrc" value="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_price" class="col-sm-2 col-form-label">Selling Price: (in dollars)</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" required class="form-control" id="id_price" name="price" value="" placeholder="Input format: 00.00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_quantity" class="col-sm-2 col-form-label">Quantity available</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" required class="form-control" id="id_quantity" name="quantity" value="" placeholder="Stock available for sale">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_gender" class="col-sm-2 col-form-label">Category:</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" name="category" id="id_category" required>
                                                                <option value="Men's Wear">Men's Wear</option>
                                                                <option value="Women's Apparel">Women's Apparel</option>
                                                                <option value="Mobile & Gadgets">Mobile & Gadgets</option>
                                                                <option value="Beauty & Personal Care">Beauty & Personal Care</option>
                                                                <option value="Home Appliances">Home Appliances</option>
                                                                <option value="Home & Living">Home & Living</option>
                                                                <option value="Kids Fashion">Kids Fashion</option>
                                                                <option value="Toys, Kids & Babies">Toys, Kids & Babies</option>
                                                                <option value="Video Games">Video Games</option>
                                                                <option value="Food & Beverages">Food & Beverages</option>
                                                                <option value="Computer & Peripherals">Computer & Peripherals</option>
                                                                <option value="Hobbies & Books">Hobbies & Books</option>
                                                                <option value="Health & Wellness">Health & Wellness</option>
                                                                <option value="Women's Bags">Women's Bags</option>
                                                                <option value="Travel & Luggage">Travel & Luggage</option>
                                                                <option value="Pet Food & Supplies">Pet Food & Supplies</option>
                                                                <option value="Watches">Watches</option>
                                                                <option value="Jewellery & Accessory">Jewellery & Accessory</option>
                                                                <option value="Men's Shoes">Men's Shoes</option>
                                                                <option value="Women's Shoes">Women's Shoes</option>
                                                                <option value="Sports & Outdoors">Sports & Outdoors</option>
                                                                <option value="Automotive">Automotive</option>
                                                                <option value="Men's Bags">Men's Bags</option>
                                                                <option value="Cameras & Drones">Cameras & Drones</option>
                                                                <option value="Dining, Travel & Services">Dining, Travel & Services</option>
                                                                <option value="Miscellaneous">Miscellaneous</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="id_images" class="col-sm-2 col-form-label">Images</label>
                                                        <div class="col-sm-10">
                                                            <div class="custom-file" style="text-align: left;">
                                                                <input type="file" name="image_files" accept=".jpg,.jpeg,.png" multiple required class="custom-file-input" id="id_images" value="">
                                                                <label class="custom-file-label" for="customFile">You may upload multiple images.</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" id="create-listing-btn" class="btn">Create</button>
                                                        <button type="button" id="cancel-listing-btn" class="btn" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <!-- Listing Nav Bar -->
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-listing-tab" data-toggle="pill" href="#pills-listing" role="tab" aria-controls="pills-listing" aria-selected="true">My Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-sold-tab" data-toggle="pill" href="#pills-sold" role="tab" aria-controls="pills-sold" aria-selected="false">Items Sold</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Customers' Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-listing" role="tabpanel" aria-labelledby="pills-listing-tab">
                                {% if hasListings %}
                                    {% for listing in listing_page_obj %}
                                        <div id="indv-listing-{{ listing.id }}" class="container p-3 my-3 border">
                                            <div class="row">
                                                <div class="col-4 p-3" style="text-align: center; justify-content: center;">
                                                    {% if listing.images is None %}
                                                        <img style="height: 100;" class="listing-images" src="{% static 'shopping/categories/listing_placeholder.jpg' %}" alt="listing-placeholder-image">
                                                    {% else %}
                                                        <img class="listing-images" src="{% static listing.listing_main_pic.url %}" alt="listing-image">
                                                    {% endif %}
                                                </div>
                                                <div class="col-8 p-3">
                                                    <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                                                    <p style="color: grey; font-size: 12px;">Category: <strong>{{ listing.category }}</strong></p>
                                                    <p style="margin-bottom: 4px;"><strong>Product Description:</strong></p>
                                                    <p class="listing-desrc" style="color: grey; font-size: 13px;">{{ listing.desrc }}</p>
                                                    <div class="row">
                                                        <div class="col-6" style="text-align: left;">
                                                            <p>Quantity left: <strong>{{ listing.quantity }}</strong></p>
                                                        </div>
                                                        <div class="col-6" style="text-align: right;">
                                                            <p >Price: <strong>${{ listing.price }}</strong></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                <!-- My listing paginator -->
                                <nav aria-label="Page navigation listings">
                                    <ul class="pagination justify-content-center">
                                        {% if listing_page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?listing-page=1">&laquo; first</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?listing-page={{ listing_page_obj.previous_page_number }}">previous</a>
                                            </li>
                                        {% endif %}

                                        <span class="current">
                                            <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                                Page {{ listing_page_obj.number }} of {{ listing_page_obj.paginator.num_pages }}.
                                            </p>
                                        </span>

                                        {% if listing_page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?listing-page={{ listing_page_obj.next_page_number }}">next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?listing-page={{ listing_page_obj.paginator.num_pages }}">last &raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% else %}
                                    <p>You have no listings in the market currently.</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="pills-sold" role="tabpanel" aria-labelledby="pills-sold-tab">
                                {% if hasItemSold %}
                                    {% for order in order_page_obj %}
                                        {% if order.has_purchased is True %}
                                            <div id="indv-listing-{{ order.listing.id }}" class="container p-3 my-3 border">
                                                <div class="row">
                                                    <div class="col-4 p-3" style="text-align: center; justify-content: center;">
                                                        {% if order.listing.images is None %}
                                                            <img style="height: 100;" class="listing-images" src="{% static 'shopping/categories/listing_placeholder.jpg' %}" alt="listing-placeholder-image">
                                                        {% else %}
                                                            <img class="listing-images" src="{% static order.listing.listing_main_pic.url %}" alt="listing-image">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-8 p-3">
                                                        <a href="{% url 'listing' order.listing.id %}">{{ order.listing.title }}</a>
                                                        <p style="color: grey; font-size: 12px;">Category: <strong>{{ order.listing.category }}</strong></p>
                                                        <p style="margin-bottom: 4px;"><strong>Product Description:</strong></p>
                                                        <p class="listing-desrc" style="color: grey; font-size: 13px;">{{ order.listing.desrc }}</p>
                                                        <div class="row">
                                                            <div class="col-6" style="text-align: left;">
                                                                <p>Quantity sold: <strong>{{ order.quantity_demanded }}</strong></p>
                                                            </div>
                                                            <div class="col-6" style="text-align: right;">
                                                                <p >Price: <strong>${{ order.listing.price }}</strong></p>
                                                            </div>
                                                        </div>
                                                        <p>Ordered by: <a href="{% url 'profile' order.user.username %}">{{ order.user }}</a></p>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <p id="order-status-{{ order.id }}">Order Status: <strong>{{ order.status }}</strong></p>
                                                            </div>
                                                            {% if order.status != "Completed" %}
                                                                <hr>
                                                                <div class="col-6" style="text-align: right">
                                                                    <select id="select-order-status-{{ order.id }}" class="" name="">
                                                                        <option value="To Ship">To Ship</option>
                                                                        <option value="To Receive">To Receive</option>
                                                                        <option value="Completed">Completed</option>
                                                                        <option value="Cancelled">Cancelled</option>
                                                                        <option value="Return">Return</option>
                                                                    </select>
                                                                    <input type="button" id="update-order-status-{{ order.id }}" class="update-order-status-btn" name="update-order-status-btn" value="Update Order Status">
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <nav aria-label="My purchases pagination">
                                        <ul class="pagination justify-content-center">
                                            {% if order_page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?order-page=1">&laquo; first</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?order-page={{ orders.previous_page_number }}">previous</a>
                                                </li>
                                            {% endif %}

                                            <span class="current">
                                                <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                                    Page {{ order_page_obj.number }} of {{ order_page_obj.paginator.num_pages }}.
                                                </p>
                                            </span>

                                            {% if order_page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?order-page={{ orders.next_page_number }}">next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?order-page={{ orders.paginator.num_pages }}">last &raquo;</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% else %}
                                    <p>You have no items sold in the market currently.</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                                {% if hasReviews %}
                                    {% for review in review_page_obj %}
                                        {% for listing in listing_page_obj %}
                                            {% if review.listing == listing and review.user != request.user %}
                                                <div class="row">
                                                    <div class="col-sm-1 m-3" style="text-align: center; max-width: 45px;">
                                                        <div class="image-border" style="text-align: center;">
                                                            {% if review.profile.profile_pic.url is not None %}
                                                                <img class="profile-pic" src="{% static review.profile.profile_pic.url %}" alt="user-profile-pic">
                                                            {% else %}
                                                                <img class="profile-pic" src="{% static 'images/placeholder.png' %}" alt="placeholder-profile-pic">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-10 m-3">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <h6 style="padding-top: 1rem;">{{ review.user.username }}</h6>
                                                            </div>
                                                        </div>

                                                        <!-- Rating stars -->
                                                        <p style="font-size: 13px; color:grey;">{{ review.date }}</p>
                                                        <div id="{{ review.id }}" class="rating-stars" data-ratingvalue="{{ review.rating }}"></div>
                                                        <p>{{ review.review }}</p>
                                                        <span style="color: grey; font-style: italic;">
                                                            For listing: <a style="font-style: normal;" href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                                                        </span>
                                                        <hr>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}


                                    <!-- My Review paginator -->
                                    <nav aria-label="Page navigation listings">
                                        <ul class="pagination justify-content-center">
                                            {% if review_page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?review-page=1">&laquo; first</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?review-page={{ review_page_obj.previous_page_number }}">previous</a>
                                                </li>
                                            {% endif %}

                                            <span class="current">
                                                <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                                    Page {{ review_page_obj.number }} of {{ review_page_obj.paginator.num_pages }}.
                                                </p>
                                            </span>

                                            {% if review_page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?review-page={{ review_page_obj.next_page_number }}">next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="?review-page={{ review_page_obj.paginator.num_pages }}">last &raquo;</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% else %}
                                    <p>You have no customers' reviews currently.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div id="my-purchase">
                        <h4>My Purchase</h4>
                        {% if hasPurchases %}
                            {% for order in order_page_obj %}
                                <div class="container p-3 my-3 border">
                                    <div class="row m-3 p-3">
                                        <div class="col-4 p-3" style="text-align: left; justify-content: center;">
                                            {% if order.listing.images is None %}
                                                <img style="height: 200px; width: 200px;" class="listing-images" src="{% static 'shopping/categories/listing_placeholder.jpg' %}" alt="listing-placeholder-image">
                                            {% else %}
                                                <img style="height: 200px; width: 200px;" class="listing-images" src="{% static order.listing.listing_main_pic.url %}" alt="listing-image">
                                            {% endif %}
                                        </div>
                                        <div class="col-6 p-3">
                                            <a href="{% url 'listing' order.listing.id %}">{{ order.listing.title }}</a>
                                            <p style="color: grey; font-size: 12px;">Category: <strong>{{ order.listing.category }}</strong></p>
                                            <p style="margin-bottom: 4px;"><strong>Product Description:</strong></p>
                                            <p class="listing-desrc" style="color: grey; font-size: 13px;">{{ order.listing.desrc }}</p>
                                            <p>Quantity Bought: <strong>{{ order.quantity_demanded }}</strong></p>
                                        </div>
                                        <div class="col-2 p-3 my-auto" style="text-align: center;">
                                            <p>{{ order.status }}</p>
                                            <form class="" action="{% url 'receive_order' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" style="display: none;" name="order_id" value="{{ order.id }}">
                                                <button type="submit" class="return-btn" id="return-btn" name="button">Return</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            <nav aria-label="My purchases pagination">
                                <ul class="pagination justify-content-center">
                                    {% if order_page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?order-page=1">&laquo; first</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?order-page={{ orders.previous_page_number }}">previous</a>
                                        </li>
                                    {% endif %}

                                    <span class="current">
                                        <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                            Page {{ order_page_obj.number }} of {{ order_page_obj.paginator.num_pages }}.
                                        </p>
                                    </span>

                                    {% if order_page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?order-page={{ orders.next_page_number }}">next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?order-page={{ orders.paginator.num_pages }}">last &raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% else %}
                            <p>You have no purchases currently.</p>
                        {% endif %}
                    </div>

                    <div id="notif">
                        <h4>Notifications</h4>
                        {% if hasNotifications %}
                            <div class="container-fluid m-3 p-3 border">
                                {% for notification in notif_page_obj %}
                                    <div class="row m-3 p-3 border">
                                        <div class="col-2">
                                            <a href="{% url 'listing' notification.listing.id %}">
                                                <img src="{% static notification.listing.listing_main_pic.url %}" alt="listing-image" style="max-width: 60px; max-height: 60px;">
                                            </a>
                                        </div>
                                        <div class="col-10" style="vertical-align: middle;">
                                            <p>{{ notification.content }}</p>
                                            <p style="font-style: italic; color: grey;">{{ notification.review.review }}</p>
                                            <p style="color: grey; font-size: 12px;">{{ notification.datetime }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <nav aria-label="My Notification pagination">
                                    <ul class="pagination justify-content-center">
                                        {% if notif_page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?notif-page=1">&laquo; first</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?notif-page={{ notif_page_obj.previous_page_number }}">previous</a>
                                            </li>
                                        {% endif %}

                                        <span class="current">
                                            <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                                                Page {{ notif_page_obj.number }} of {{ notif_page_obj.paginator.num_pages }}.
                                            </p>
                                        </span>

                                        {% if notif_page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?notif-page={{ notif_page_obj.next_page_number }}">next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?notif-page={{ notif_page_obj.paginator.num_pages }}">last &raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% else %}
                            <p>You have no notifications currently.</p>
                        {% endif %}
                    </div>

                    <!-- Edit profile form -->
                    <div id="edit">
                        <h4>Edit Your Profile</h4>
                        <div class="container-fluid bg-light mt-4">
                            <form id="edit-profile-form" class="" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group row pt-3 pb-3">
                                    <label for="id_username" class="col-sm-2 col-form-label">Username:</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="id_username" value="{{ user.username }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_email" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_phone_number" class="col-sm-2 col-form-label">Phone Number:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_phone_number" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_gender" class="col-sm-2 col-form-label">Gender:</label>
                                    <div class="col-sm-10">
                                        <select id="id_gender" class="form-control" name="gender" required>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="id_date_of_birth" class="col-sm-2 col-form-label">Date of Birth:</label>
                                    <div class="col-sm-10">
                                        <input type="text" required class="form-control" id="id_date_of_birth" placeholder="YYYY-MM-DD" value="">
                                    </div>
                                </div>

                                <div class="" style="text-align: right;">
                                    <input id="save-btn" data="{{ profile.id }}" class="btn" type="submit" name="" value="Save">
                                    <input id="undo-btn" data="{{ profile.id }}" class="btn" type="button" name="" value="Undo">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="line-divider">
            <p>c</p>
        </div>

        <!-- Bottom footer -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Shopping Country & Region:</p>
                    <div class="country-icons">
                        <div class="d-flex p-2">
                            <img style="margin-left: 15px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333299-3b1e9e80-dff7-11ea-8de5-2d988eae2df1.jpg" alt="singapore-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333392-f34c4700-dff7-11ea-9aac-0dded940d1af.png" alt="malaysia-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333394-f47d7400-dff7-11ea-8e5d-7dee9ccee504.png" alt="indonesia-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333395-f5aea100-dff7-11ea-8fc5-5e88bf8ff034.png" alt="taiwan-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333396-f6dfce00-dff7-11ea-9957-912621de1477.png" alt="thailand-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333398-f810fb00-dff7-11ea-96a0-e188ffb3578d.png" alt="vietnam-icon">
                            <img style="margin-left: 5px; height: 30px; width: 30px; border-radius: 15px;" src="https://user-images.githubusercontent.com/59989652/90333399-fa735500-dff7-11ea-92ce-2c7503094272.png" alt="philipphines-icon">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Payment</p>
                    <div class="">
                        <i class="fa fa-cc-visa" style="margin-left: 15px; font-size: 40px;"></i>
                        <i class="fa fa-cc-mastercard" style="margin-left: 15px; font-size: 40px;"></i>
                        <i class="fa fa-cc-amex" style="margin-left: 15px; font-size: 40px;"></i>
                    </div>
                </div>
                <div class="col-sm">
                    <p style="margin-bottom: 0rem; color: #575757;" class="nav-item nav-link">Follow Us On:</p>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: #3b5998">
                                <i class="fa fa-facebook-square"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">Facebook</span>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: brown;">
                                <i class="fa fa-instagram"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">Instagram</span>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="follow-links" style="margin-left: 15px;">
                            <span style="color: #0072b1">
                                <i class="fa fa-linkedin-square"></i>
                            </span>
                            <span style="font-size: 13px; color: grey;">LinkedIn</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
