.cart-logo i:hover {
    color: #60dbb9;
}

.plus-btn {
    width: 30px;
    color: grey;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

.plus-btn:hover {
    background-color: #e6e5e3;
}

.minus-btn {
    width: 30px;
    color: grey;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

.minus-btn:hover {
    background-color: #e6e5e3;
}

.delete-btn {
    margin-left: 0.8rem;
    background-color: white;
    border: none;
}

.delete-btn:hover {
    color: #42f5c2;
}

#checkout-btn {
    background-color: #42f5c2;
    width: 200px;
    min-height: 40px;
    border: none;
    color: white;
    text-align: center;
}

#checkout-btn:hover {
    background-color: #60dbb9;
}

#shop-now-btn {
    background-color: #42f5c2;
    min-width: 200px;
    height: 40px;
    border: none;
    color: white;
    text-align: center;
}

#shop-now-btn:hover {
    background-color: #60dbb9;
}

.quantity-count {
    width: 40px;
    color: grey;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

@media (max-width: 1400px) {
    .cart-item-details {
        font-size: 8px;
    }

    .minus-btn {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }

    .plus-btn {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }

    .quantity-count {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }

    .nav-bar-headers {
        font-size: 10px;
        margin-left: 23px;
        vertical-align: middle;
        padding-left: 0;
    }

    #checkout-btn {
        background-color: #42f5c2;
        width: 120px;
        height: 40px;
        border: none;
        color: white;
        font-size: 15px;
        text-align: center;
    }

    #total-price {
        font-size: 16px;
    }
}

@media (min-width: 1401px) {
    .nav-bar-headers {
        padding-left: 20px;
        vertical-align: middle;
    }

    .listing-image-section img {
        text-align: center;
        display: block;
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
        justify-content: center;
    }
}
