{% extends "shopping/layout.html" %}
{% load static %}

{% block title %}
    Shopping | Search
{% endblock %}

{% block style %}
    <link href="{% static 'shopping/search/search.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'shopping/search/search.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="min-height: 800px;">
        <div class="row">
            <div class="col-4 p-3">
                <p><strong>SEARCH FILTER</strong></p>
                <p style="color: grey;">By Category</p>

                {% for category in relevant_categories %}
                    <form class="" action="{% url 'filter_category' %}" method="get">
                        <div class="row p-3 m-3">
                            <div class="row form-check form-check-inline">
                                <input type="text" name="search-keywords" value="{{ search_keywords }}" style="display: none;">
                                    {% if category == "Men's Wear" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Women's Apparel" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Mobile & Gadgets" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Beauty & Personal Care" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Home Appliances" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Home & Living" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Kids Fashion" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Toys, Kids & Babies" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Video Games" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Food & Beverages" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Computer & Peripherals" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Hobbies & Books" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Health & Wellness" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Women's Bags" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Travel & Luggage" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Pet Food & Supplies" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Watches" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Jewellery & Accessory" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Men's Shoes" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Women's Shoes" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Sports & Outdoors" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Automotive" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Men's Bags" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Cameras & Drones" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Dining, Travel & Services" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% elif category == "Miscellaneous" %}
                                        <span>
                                            <i style="color: #42f5c2;" class="fa fa-caret-right"></i>
                                            <input style="color: #42f5c2;" class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% else %}
                                        <span>
                                            <i style="color: lightgrey" class="fa fa-caret-right"></i>
                                            <input class="category-btn" type="submit" name="filter-category" value="{{ category }}">
                                        </span>
                                    {% endif %}
                            </div>
                        </div>
                    </form>
                {% endfor %}
                <hr>
            </div>
            <div class="col-8">
                <div class="row bg-light p-3 m-3">
                    <p class="mt-2 mr-3">Sort by: </p>
                    <form class="" action="{% url 'sort_category' %}" method="get">
                        {% csrf_token %}
                        <input type="text" name="search-keywords" value="{{ search_keywords }}" style="display: none;">
                        <input class="" type="text" name="filter-category" value="{{ category }}" style="display: none;">
                        <input class="sort-btn m-1" type="submit" name="sort-category" value="Latest">
                        <input class="sort-btn m-1" type="submit" name="sort-category" value="Price">
                        <input class="sort-btn m-1" type="submit" name="sort-category" value="Top Sales">
                        <input class="sort-btn m-1" type="submit" name="sort-category" value="Top Ratings">
                    </form>
                </div>
                <p class="m-3 p-3">Search result for '<strong>{{ search_keywords }}</strong>'</p>
                <hr>

                <div class="row m-4" style="justify-content: left;" id="main-search-results">
                    {% for listing in relevant_listings %}
                        <div class="col-2 m-1 indv-listing-border" style="max-height: 300px; min-height: 300px; width: 100%; min-width: 186px; max-width: 198px;">
                            <a href="{% url 'listing' listing.id %}" style="text-docoration: none;">
                                <div class="row">
                                    <img class="all_listing_img" src="{% static listing.listing_main_pic.url %}" alt="listing_main_pic">
                                </div>
                                <div class="row p-2" style="max-width: 170px;">
                                    <div class="listing-title" style="color: black; min-width: 145px;">{{ listing.title }}</div>
                                    <div id="listing-{{ listing.id }}-rating-stars" class="listing-rating-star-section" data-ratingscore={{ listing.rating_score }} data-listingid={{ listing.id }}></div>
                                    <div style="position: absolute; bottom: 10px;">
                                        <span style="color: lightgrey">From: </span>
                                        <strong style="color: #42f5c2">${{ listing.price }}</strong>
                                        {% if listing.quantity == 0 %}
                                            <span class="sold-out-tag">Sold out</span>
                                        {% endif %}
                                    </div><br>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
