.user-profile-links:hover {
    color: teal;
    border: none;
}

.user-profile-links:active {
    border-style: outset;
    border: none;
}

.user-profile-links {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none !important;
    border: none;
    background-color: white;
}

.account-tags {
    width: 140px;
    color: grey;
}

.home-logo {
    color: white;
}

.home-logo:hover {
    text-decoration: none;
    color: #60dbb9;
}

.cart-logo i:hover {
    color: #60dbb9;
}

.line-divider {
    background-color: #42f5c2;
    width: 100%;
}

.line-divider p {
    color: #42f5c2;
    font-size: 4px;
    margin-bottom: 0px;
}

#edit-profile-btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none !important;
    border: none;
    background-color: white;
    color: grey;
}

#edit-profile-btn:hover {
    border-style: outset;
    border: none;
    text-decoration: underline;
}

#edit-profile-btn:active {
    border-style: outset;
    border: none;
}

#save-btn {
    background-color: #42f5c2;
    color: white;
}

#save-btn:hover {
    background-color: #60dbb9;
}

#undo-btn {
    background-color: #42f5c2;
    color: white;
}

#undo-btn:hover {
    background-color: #60dbb9;
}

.col-form-label {
    color: grey;
}

.profile-pic-btn {
    border: 1px solid #dbdbdb;
    color: grey;
    background-color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.profile-pic-btn:hover {
    background-color: #f5f5f5;
}

.profile-pic-section {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#image-file-label {
    text-align: left;
    font-size: 12px;
    color: grey;
}

#add-listing-btn {
    background-color: #42f5c2;
    color: white;
}

#add-listing-btn:hover {
    background-color: #60dbb9;
}

.confirm-return-btn {
    background-color: #42f5c2;
    color: white;
}

.confirm-return-btn:hover {
    background-color: #60dbb9;
    color: white;
}

.nav-link.active:active {
    color: #fff;
    cursor: default;
    background-color: green;
}

#create-listing-btn {
    background-color: #42f5c2;
    color: white;
}

#create-listing-btn:hover {
    background-color: #60dbb9;
}

#cancel-listing-btn {
    background-color: #42f5c2;
    color: white;
}

#cancel-listing-btn:hover {
    background-color: #60dbb9;
}

.return-btn {
    background-color: #42f5c2;
    border: none;
    border-radius: 2px;
    color: white;
    width: 100%;
    line-height: 30px;
}

.return-btn:hover {
    background-color: #60dbb9;
}

.update-order-status-btn {
    background-color: #42f5c2;
    border: none;
    border-radius: 2px;
    color: white;
    width: 100%;
    margin-top: 5px;
    height: 30px;
}

.update-order-status-btn:hover {
    background-color: #60dbb9;
}

.listing-images {
    display: block;
    max-width: 100%;
    height: auto;
}

.notif-datetime {
    font-size: 13px;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color: black;
}

.nav-pills .pill-1 .nav-link {
    background-color: #42f5c2;
    color: white;
}

.accept-return-btn {
    background-color: #42f5c2;
    color: white;
    padding-left: 20px;
}

.accept-return-btn:hover {
    background-color: #60dbb9;
    color: white;
}

.cancel-btn {
    background-color: white;
    color: black;
}

.cancel-btn:hover {
    background-color: #f8f9fa;
    color: black;
}

@media (max-width: 1450px) {
    .cart-item-details {
        font-size: 8px;
    }

    .order-status {
        width: 40px;
    }

    .return-btn {
        background-color: #42f5c2;
        border: none;
        border-radius: 2px;
        color: white;
        width: 45px;
        font-size: 8px;
        line-height: 15px;
    }

    .update-order-status-btn {
        background-color: #42f5c2;
        border: none;
        border-radius: 2px;
        color: white;
        width: 100%;
        font-size: 8px;
        margin-top: 1px;
        height: 20px;
    }

    .indv-notif-content-section p {
        padding-left: 10px;
    }

    .accept-return-btn {
        font-size: 8px;
    }

    .btn-light {
        font-size: 8px;
    }

    .notif-datetime {
        font-size: 6px;
    }

}
