.carousel-indicators li {
    background-color: red;
}

.home-logo {
    color: white;
}

.home-logo:hover {
    text-decoration: none;
    color: #60dbb9;
}

.cart-logo i:hover {
    color: #60dbb9;
}

.line-divider {
    background-color: #42f5c2;
    width: 100%;
}

.line-divider p {
    color: #42f5c2;
    font-size: 4px;
    margin-bottom: 0px;
}
