.carousel-indicators li {
    background-color: red;
}

.home-logo-container:hover {
    text-decoration: none;
}


.home-logo:hover {
    color: #60dbb9;
    text-decoration: none;
}

.home-logo {
    text-decoration: none;
}

.cart-logo i:hover {
    color: #60dbb9;
}

.line-divider {
    background-color: #42f5c2;
    width: 100%;
}

.line-divider p {
    color: #42f5c2;
    font-size: 4px;
    margin-bottom: 0px;
}

.profile-pic {
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.fa-circle {
    position: relative;
    color: red;
    font-size: 12px;
    right: 7px;
    bottom: 6px;
}
