{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script>
        function enableLikeButton(button_id) {
            const button_id_number = button_id.split("-").pop().trim();
            document.querySelector(`#likebtn-${button_id_number}`).disabled = false;

        }

        function enableUnLikeButton(button_id) {
            const button_id_number = button_id.split("-").pop().trim();
            document.querySelector(`#unlikebtn-${button_id_number}`).disabled = false;

        }

        function disableLikeButton(button_id) {
            const button_id_number = button_id.split("-").pop().trim();
            document.querySelector(`#likebtn-${button_id_number}`).disabled = true;

        }

        function disabledUnlikeButton(button_id) {
            const button_id_number = button_id.split("-").pop().trim();
            document.querySelector(`#unlikebtn-${button_id_number}`).disabled = true;
        }

        function likePost(button_id) {

            const button_id_number = button_id.split("-").pop().trim();

            var curr_count = Number(document.querySelector(`#like-count-${button_id_number}`).innerHTML);
            var new_count = curr_count + 1;
            document.querySelector(`#like-count-${button_id_number}`).innerHTML = new_count;

            fetch(`/updatelikes/${button_id_number}`, {
                method: 'PUT',
                body: JSON.stringify({
                    like_count: new_count,
                    has_liked: true
                })
            });

            disableLikeButton(button_id);
            enableUnLikeButton(button_id);
        }

        function unlikePost(button_id) {

            const button_id_number = button_id.split("-").pop().trim();

            var curr_count = Number(document.querySelector(`#like-count-${button_id_number}`).innerHTML);
            var new_count = curr_count - 1;
            document.querySelector(`#like-count-${button_id_number}`).innerHTML = new_count;

            fetch(`/updatelikes/${button_id_number}`, {
                method: 'PUT',
                body: JSON.stringify({
                    like_count: new_count,
                    has_liked: false
                })
            });

            disabledUnlikeButton(button_id);
            enableLikeButton(button_id);
        }

        function closeEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "none";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Edit";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => showEditForm(form_id)
            );
        }

        function showEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "block";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Undo";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => closeEditForm(form_id)
            );

            document.querySelector(`#form-${form_id}`).onsubmit = () => {
                const updated_content = document.querySelector(`#new-content-${form_id}`).value;
                document.querySelector(`#indiv-content-${form_id}`).innerHTML = updated_content;

                fetch(`/post/${form_id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        content: updated_content
                    })
                });

                closeEditForm(form_id);

                return false;
            };
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('button').forEach(function(button) {
                if (button.innerHTML === "Edit") {

                    button.onclick = function() {
                        showEditForm(this.dataset.editbtnid);
                    }

                }
            });

            document.querySelectorAll('.like-button').forEach(function(button) {
                button.onclick = function() {
                    likePost(this.id);
                }
            });

            document.querySelectorAll('.unlike-button').forEach(function(button) {
                button.onclick = function() {
                    unlikePost(this.id);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">All Posts</h1>
    <div class="container p-3 my-3 border">
        <h2>New Post</h2>
        <form id="add-post-form" action="{% url 'allpost' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="content" value="" placeholder="What's on your mind today, {{ user.username }}?">
            </div>
            <button class="btn btn-sm btn-outline-primary" id="post-button">Post</button>
        </form>
    </div>

    {% for post in page_obj %}
        <div id="indiv-post-{{ post.id }}" class="container p-3 my-3 border">
            <div class="row">
                <div class="col-8">
                    <div class="" style="display: none;">
                        <p>{{ post.id }}</p>
                    </div>
                    <p><a href="{% url 'profile' post.user %}">{{ post.user }}</a></p>
                    <p id="indiv-content-{{ post.id }}">{{ post.content }}</p>
                    <p style="color: lightgrey; font-size: 13px;">{{ post.datetime }}</p>
                    <p>
                        {% for like in likes %}
                            {% if like.post == post %}
                                <span>Likes:</span>
                                <span id="like-count-{{ post.id }}">{{ like.like_count }}</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>

                {% if post.user == request.user %}
                    <div class="col-4">
                        <div class="" style="text-align: right;">
                            <button id="editbtn-{{ post.id }}" data-editbtnid="{{ post.id }}" class="btn btn-sm btn-outline-primary">Edit</button>
                        </div>
                        <div class="">
                            <p><br></p>
                        </div>
                        <div class="">
                            <p><br></p>
                        </div>
                        <div class="">
                            <!-- Like and Unlike buttons -->
                            <div class="like-button" style="text-align: right; font-size: 25px; margin-right: 3px;">
                                {% for like in likes %}
                                    {% if like.post == post %}
                                        {% if like.user == request.user %}
                                            {% if like.has_liked %}
                                                <button id="likebtn-{{ post.id }}" type="button" disabled name="button" class="btn btn-sm btn-outline-primary like-button"><i id="likebtnicon-{{ post.id }}" class="fa fa-thumbs-up"></i></button>
                                                <button id="unlikebtn-{{ post.id }}" type="button" name="button" class="btn btn-sm btn-outline-primary unlike-button"><i id="unlikebtnicon-{{ post.id }}" class="fa fa-thumbs-down"></i></button>
                                            {% else %}
                                                <button id="likebtn-{{ post.id }}" type="button" name="button" class="btn btn-sm btn-outline-primary like-button"><i id="likebtnicon-{{ post.id }}" class="fa fa-thumbs-up"></i></button>
                                                <button id="unlikebtn-{{ post.id }}" type="button" disabled name="button" class="btn btn-sm btn-outline-primary unlike-button"><i id="unlikebtnicon-{{ post.id }}" class="fa fa-thumbs-down"></i></button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div id="edit-view" class="col-4">
                        <div class="" style="text-align: right;">
                            <p><br></p>
                        </div>
                        <div class="">
                            <p><br></p>
                        </div>
                        <div class="">
                            <p><br></p>
                        </div>
                        <div class="">
                            <!-- Like and Unlike buttons -->
                            <div class="like-button" style="text-align: right; font-size: 25px; margin-right: 3px;">
                                {% for like in likes %}
                                    {% if like.post == post %}
                                        {% if like.user == request.user %}
                                            {% if like.has_liked %}
                                                <button id="likebtn-{{ post.id }}" type="button" disabled name="button" class="btn btn-sm btn-outline-primary like-button"><i id="likebtnicon-{{ post.id }}" class="fa fa-thumbs-up"></i></button>
                                                <button id="unlikebtn-{{ post.id }}" type="button" name="button" class="btn btn-sm btn-outline-primary unlike-button"><i id="unlikebtnicon-{{ post.id }}" class="fa fa-thumbs-down"></i></button>
                                            {% else %}
                                                <button id="likebtn-{{ post.id }}" type="button" name="button" class="btn btn-sm btn-outline-primary like-button"><i id="likebtnicon-{{ post.id }}" class="fa fa-thumbs-up"></i></button>
                                                <button id="unlikebtn-{{ post.id }}" type="button" disabled name="button" class="btn btn-sm btn-outline-primary unlike-button"><i id="unlikebtnicon-{{ post.id }}" class="fa fa-thumbs-down"></i></button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Show edit form -->
            <form id="form-{{ post.id }}" method="post" style="display: none;" onsubmit="return false">
                {% csrf_token %}
                <hr>
                <div>
                    <div class="form-group">
                        <input id="new-content-{{ post.id }}" class="form-control" type="text" name="edited-text" placeholder="Edit your post here!">
                    </div>

                </div>
                <div class="" style="text-align: right;">
                    <input id="savebtn-{{ post.id }}" type="submit" name="save-button" class="btn btn-sm btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    {% empty %}
        <div id="all-post-view" class="container p-3 my-3 border">
            <p>There is no post currently.</p>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
            {% endif %}

            <span class="current">
                <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
            </span>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
