{% extends "network/layout.html" %}

{% block script %}
    <script>
        function closeEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "none";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Edit";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => showEditForm(form_id)
            );
        }

        function showEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "block";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Undo";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => closeEditForm(form_id)
            );

            document.querySelector(`#form-${form_id}`).onsubmit = () => {
                const updated_content = document.querySelector(`#new-content-${form_id}`).value;
                document.querySelector(`#indiv-content-${form_id}`).innerHTML = updated_content;

                fetch(`/post/${form_id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        content: updated_content
                    })
                });

                closeEditForm(form_id);

                return false;
            };
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('button').forEach(function(button) {
                if (button.innerHTML === "Edit") {

                    button.onclick = function() {
                        showEditForm(this.dataset.editbtnid);
                    }

                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">All Posts</h1>
    <div class="container p-3 my-3 border">
        <h2>New Post</h2>
        <form id="add-post-form" action="{% url 'allpost' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="content" value="" placeholder="What's on your mind today, {{ user.username }}?">
            </div>
            <button class="btn btn-sm btn-outline-primary" id="post-button">Post</button>
        </form>
    </div>

    {% for post in page_obj %}
        <div id="indiv-post-{{ post.id }}" class="container p-3 my-3 border">
            <div class="row">
                <div class="col-8">
                    <div class="" style="display: none;">
                        <p>{{ post.id }}</p>
                    </div>
                    <p><a href="{% url 'profile' post.user %}">{{ post.user }}</a></p>
                    <p id="indiv-content-{{ post.id }}">{{ post.content }}</p>
                    <p>{{ post.datetime }}</p>
                    {% for like in likes %}
                        {% if like.post == post %}
                            <p>Likes: {{ like.like_count }}</p>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if post.user == request.user %}
                    <div class="col-4">
                        <div class="" style="text-align: right;">
                            <button id="editbtn-{{ post.id }}" data-editbtnid="{{ post.id }}" class="btn btn-sm btn-outline-primary">Edit</button>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Show edit form -->
            <form id="form-{{ post.id }}" method="post" style="display: none;" onsubmit="return false">
                {% csrf_token %}
                <hr>
                <div>
                    <div class="form-group">
                        <input id="new-content-{{ post.id }}" class="form-control" type="text" name="edited-text" placeholder="Edit your post here!">
                    </div>

                </div>
                <div class="" style="text-align: right;">
                    <input id="savebtn-{{ post.id }}" type="submit" name="save-button" class="btn btn-sm btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    {% empty %}
        <div id="all-post-view" class="container p-3 my-3 border">
            <p>There is no post currently.</p>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
            {% endif %}

            <span class="current">
                <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
            </span>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
