{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script>
        function closeEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "none";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Edit";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => showEditForm(form_id)
            );
        }

        function showEditForm(form_id) {
            document.querySelector(`#form-${form_id}`).style.display = "block";
            document.querySelector(`#editbtn-${form_id}`).innerHTML = "Undo";

            document.querySelector(`#editbtn-${form_id}`).addEventListener(
                'click', () => closeEditForm(form_id)
            );

            document.querySelector(`#form-${form_id}`).onsubmit = () => {
                const updated_content = document.querySelector(`#new-content-${form_id}`).value;
                document.querySelector(`#indiv-content-${form_id}`).innerHTML = updated_content;

                fetch(`/post/${form_id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        content: updated_content
                    })
                });

                closeEditForm(form_id);

                return false;
            };
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('button').forEach(function(button) {
                if (button.innerHTML === "Edit") {

                    button.onclick = function() {
                        showEditForm(this.dataset.editbtnid);
                    }

                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1 style="text-align: center;">{{ user_name.username }}</h1>
    <div class="container p-3 my-3 border" style="border-radius: 8px">
        <div class="row">
            <div class="col-6" style="text-align: center;">
                Number of followers: <br>
                <strong>{{ num_follower }}</strong>
            </div>
            <div class="col-6" style="text-align: center;">
                Number of followings: <br>
                <strong>{{ num_following }}</strong>
            </div>
        </div>
    </div>

    {% if is_not_user %}
        <div class="container p-3 my-3" style="border-radius: 8px">
            <form class="" action="{% url 'editfollower' user_name.username %}" method="post">
                {% csrf_token %}
                <div class="row">
                    {% if is_following_user %}
                        <div class="col-sm" style="text-align: center">
                            <input type="submit" id="unfollow-btn" style="width: 100px; border-radius: 8px;" class ="btn-primary" name="edit_follow_button" value="Unfollow">
                        </div>
                    {% else %}
                        <div class="col-sm" style="text-align: center">
                            <input type="submit" id="follow-btn" style="width: 100px; border-radius: 8px;" class="btn-primary" type="button" name="edit_follow_button" value="Follow">
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endif %}

    <!-- All post view -->
    <div id="all-post-view" class="container p-3 my-3 border" style="border-radius: 8px">
        <h6 style="color: grey;">Here are all the posts made by {{ user_name.username }}:</h6>
        {% for post in post_list %}
            <div id="indiv-post-{{ post.id }}" class="container p-3 my-3 border">
                <div class="row">
                    <div class="col-8">
                        <div id="post-id" style="display: none;">
                            {{ post.id }}
                        </div>
                        <p><a href="{% url 'profile' post.user %}">{{ post.user }}</a></p>
                        <p id="indiv-content-{{ post.id }}">{{ post.content }}</p>
                        <p>{{ post.datetime }}</p>
                        <p>
                            {% for like in likes %}
                                {% if like.post == post %}
                                    Likes: {{ like.like_count }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>

                    <!-- Show edit button -->
                    {% if post.user == request.user %}
                        <div id="edit-view" class="col-4">
                            <div class="" style="text-align: right;">
                                <button id="editbtn-{{ post.id }}" data-editbtnid="{{ post.id }}" class="btn btn-sm btn-outline-primary">Edit</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Show edit form -->
            <form id="form-{{ post.id }}" method="post" style="display: none;" onsubmit="return false">
                {% csrf_token %}
                <hr>
                <div>
                    <div class="form-group">
                        <input id="new-content-{{ post.id }}" class="form-control" type="text" name="edited-text" placeholder="Edit your post here!">
                    </div>

                </div>
                <div class="" style="text-align: right;">
                    <input id="savebtn-{{ post.id }}" type="submit" name="save-button" class="btn btn-sm btn-outline-primary" value="Save">
                </div>
            </form>

        {% empty %}
            <p>There is no post currently.</p>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
            {% endif %}

            <span class="current">
                <p style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </p>
            </span>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
