{% extends "network/layout.html" %}

{% block body %}
    <h1 style="text-align: center;">{{ user_name.username }}</h1>
    <div class="container p-3 my-3 border" style="border-radius: 8px">
        <div class="row">
            <div class="col-6" style="text-align: center;">
                Number of followers: <br>
                <strong>{{ num_follower }}</strong>
            </div>
            <div class="col-6" style="text-align: center;">
                Number of followings: <br>
                <strong>{{ num_following }}</strong>
            </div>
        </div>
    </div>

    {% if is_not_user %}
        <div class="container p-3 my-3" style="border-radius: 8px">
            <form class="" action="{% url 'editfollower' user_name.username %}" method="post">
                {% csrf_token %}
                <div class="row">
                    {% if is_following_user %}
                        <div class="col-sm" style="text-align: center">
                            <input type="submit" id="unfollow-btn" style="width: 100px; border-radius: 8px;" class ="btn-primary" name="edit_follow_button" value="Unfollow">
                        </div>
                    {% else %}
                        <div class="col-sm" style="text-align: center">
                            <input type="submit" id="follow-btn" style="width: 100px; border-radius: 8px;" class="btn-primary" type="button" name="edit_follow_button" value="Follow">
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    {% endif %}

    <div class="container p-3 my-3 border" style="border-radius: 8px">
        <h6 style="color: grey;">Here are all the posts made by {{ user_name.username }}:</h6>
        {% for post in posts %}
            <div class="container p-3 my-3 border" style="border-radius: 8px">
                <div class="">
                    <a href="{% url 'profile' post.user %}">{{ post.user }}</a>
                </div>
                <div class="">
                    {{ post.datetime }}
                </div>
                <div class="">
                    {{ post.content }}
                </div>
                <div class="">
                    {% for like in likes %}
                        {% if like.post == post %}
                            Likes: {{ like.like_count }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p>There is no post currently.</p>
        {% endfor %}
    </div>
{% endblock %}
