{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Categories</h1>
    <h5>Select a category below:</h5>
    <li>
        <a href="{% url 'categorylisting' 'menswear' %}">Men's Wear</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'womenapparel' %}">Women's Apparel</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'mobile' %}">Mobile & Gadgets</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'beauty' %}">Mobile & Gadgets</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'homeappliance' %}">Home Appliances</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'homeliving' %}">Home & Living</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'kidsfashion' %}">Kids Fashion</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'toyskids' %}">Toys, Kids & Babies</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'games' %}">Video Games</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'food' %}">Food & Beverages</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'computer' %}">Computer & Peripherals</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'hobbies' %}">Hobbies & Books</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'health' %}">Health & Wellness</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'womensbags' %}">Women's Bags</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'travel' %}">Travel & Luggage</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'pet' %}">Pet Food & Supplies</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'watches' %}">Watches</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'jewel' %}">Jewellery & Accessory</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'menshoes' %}">Men's Shoes</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'womenshoes' %}">Women's Shoes</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'sport' %}">Sports & Outdoors</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'automotive' %}">Automotive</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'menbags' %}">Men's Bags</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'camera' %}">Cameras & Drones</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'dining' %}">Dining, Travel & Services</a>
    </li>
    <li>
        <a href="{% url 'categorylisting' 'misc' %}">Miscellaneous</a>
    </li>


{% endblock %}
