{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing }}</h1>
    <div>
        <img src="{{ listing.image_url }}" alt="image-url">
    </div>
    <div>
        <h2>Current bid: {{ curr_highest_bid }}</h2>
        <p>{{ total_bid_count }} bid(s) so far.</p>
    </div>
    <div class="">
        {% if is_winner %}
            <h2><strong>Congratulations!</strong>!You are the <strong>WINNER</strong> of this listing!</h2>
        {% else %}
            <h2>The winner for this listing is: <strong>{{ listing.user }}</strong></h2>
        {% endif %}
        <p>
            This listing will now be officially closed and will not longer appear in the
            <a href="{% url 'index' %}">'Active Listings'</a>
            page.
        </p>
    </div>

{% endblock %}
