{% extends "auctions/layout.html" %}

{% block navalert %}
    {% if num_item_in_watchlist != 0 %}
        <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">{{ num_item_in_watchlist }}</span>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Listing: {{ listing }}</h1>
    <div>
        <img src="{{ listing.image_url }}" height=300px width=300px alt="image-url">
    </div>
    <div class="">
        <p> </p>
    </div>
    <form class="" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if is_on_watchlist %}
                <button class="btn btn-primary" type="submit" name="remove-watchlist" formaction="{% url 'removewatchlist' listing.id %}">Remove from Watchlist</button>
            {% else %}
                <button class="btn btn-primary" type="submit" name="add-watchlist" formaction="{% url 'addwatchlist' listing.id %}">Add to Watchlist</button>
            {% endif %}
        {% endif %}
    </form>
    <hr>
    <div>
        <h2>Current bid: {{ curr_highest_bid }}</h2>
        <p>{{ total_bid_count }} bid(s) so far.
            {% if is_current_bid %}
                Your bid is the current bid.
            {% endif %}
        </p>
    </div>
    <div class="form-group">
        <form class="" action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                {{ error_message }}
            {% endif %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="new-bid" placeholder="Place your new bid here">
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
            {% if user.is_authenticated %}
            <button class="btn btn-primary" type="submit" name="close-Bid" formaction="{% url 'close' listing.id %}">Close Bid</button>
            {% endif %}
        </form>
    </div>
    <hr>
    <h1>Details:</h1>
    <div class="">
        <li>Listed by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
        <li>Description: {{ listing.desrc }}</li>
    </div>
    <hr>
    <div class="">
        <h2>Comments:</h2>
        {% if comments %}
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        {% else %}
            There is currently no comments on this listing yet.
        {% endif %}
        <div class="">
            <p> </p>
        </div>
        {% if user.is_authenticated %}
        <form class="">
            <button class="btn btn-primary" type="submit" name="add-comment" formaction="{% url 'comment' listing.id %}">Add Comments</button>
        </form>
        {% endif %}

    </div>
{% endblock %}
