.all_listing_img {
    height: 185px;
    width: 100%;
    display: block;
}

.listing-container {
    border: 1px solid lightgrey;
}

.listing-rating-star-section {
    font-size: 12px;
    padding-top: 1em;
}

.sort-btn {
    width: 100px;
    color: grey;
    height: 30px;
    background-color: #42f5c2;
    color: white;
    border: none;
}

.sort-btn:hover {
    background-color: #60dbb9;;
}

.category-btn {
    border: none;
    background-color: white;
}

@media (max-width: 1100px) {
    .fa-circle {
        font-size: 10px;
    }

    .category-btn {
        font-size: 10px;
    }
}
