.carousel-item:active {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.home-logo {
    color: white;
}

.home-logo:hover {
    text-decoration: none;
    color: #60dbb9;
}

.cart-logo i:hover {
    color: #60dbb9;
}

#add-to-cart-btn {
    background-color: #42f5c2;
    color: white;
}

#add-to-cart-btn:hover {
    background-color: #60dbb9;
}

#buy-btn {
    background-color: #42f5c2;
    color: white;
}

#buy-btn:hover {
    background-color: #60dbb9;
}

#plus-btn {
    min-width: 40px;
    color: grey;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

#plus-btn:hover {
    background-color: #e6e5e3;
}

#minus-btn {
    min-width: 40px;
    color: grey;
    height: 30px;
    background-color: white;
    border: 1px solid lightgrey;
}

#minus-btn:hover {
    background-color: #e6e5e3;
}

#close-desrc-btn {
    background-color: #42f5c2;
    color: white;
}

#close-desrc-btn:hover {
    background-color: #60dbb9;
}

#save-desrc-btn {
    background-color: #42f5c2;
    color: white;
}

#save-desrc-btn:hover {
    background-color: #60dbb9;
}

#cancel-review-btn {
    background-color: #42f5c2;
    color: white;
}

#cancel-review-btn:hover {
    background-color: #60dbb9;
}

#post-review-btn {
    background-color: #42f5c2;
    color: white;
}

#post-review-btn:hover {
    background-color: #60dbb9;
}
